@use '../../constants';

.vcrnet-admin-other {
    > form {
        > .vcrnet-editfield {
            margin-bottom: constants.$editLineSpacing;

            > div:first-child {
                margin-right: 4px;
            }
        }

        .jmslib-editflag {
            display: block;
            margin-bottom: constants.$editLineSpacing;

            > input {
                margin-left: 0;
            }
        }
    }
}
