@use "constants";

@use "router";
@use "timebar";
@use "detailRow";

@use "command/button";
@use "command/toggle";
@use "command/pictogram";
@use "command/externalLink";
@use "command/internalLink";

@use "edit/list";
@use "edit/multiList";
@use "edit/buttonList";
@use "edit/multiButtonList";

@use "edit/text/text";
@use "edit/text/textarea";

@use "edit/boolean/flag";

@use "edit/number/slider";
@use "edit/number/number";

@use "edit/datetime/day";
@use "edit/datetime/time";

// Wird eine Liste von Schaltflächen angezeigt, so kann diese Klasse verwendet werden, um die einzelnen Schaltflächen zusammen zu kleben.
.jmslib-command-mergelist > .jmslib-command {
    &:not(:last-child) {
        border-right-width: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:not(:first-child) {
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

// Der Titel (Tooltip) wird für die Anzeige von Fehlersituationen verwendet, das verstärken wird noch durch einen roten Rahmen.
.jmslib-validatable:not([title=""]) {
    border: 2px solid constants.$textErrorColor;
    outline: none;
}
