@use "sass:meta";
@use '../lib.react/constants';

.vcrnet-admin {
    width: 90%;
    padding: 4px;
    white-space: nowrap;

    > div {
        display: inline-block;
        // Das ist die Navigationsleiste der Konfigurationsseite.
        &:first-child {
            > div {
                margin: 10px;
                border-radius: 4px;
                border: 1px solid black;
                box-shadow: gray 2px 1px;

                &:hover {
                    background: constants.$commandHoverBackgroundColor;
                }

                &.jmslib-command-checked {
                    background: constants.$commandActiveBackgroundColor;

                    a {
                        cursor: default;
                    }
                }

                a {
                    color: black;
                    display: block;
                    padding: 4px 8px;
                    text-decoration: none;
                }
            }
        }
        // Hier kommt dann der aktuelle Konfigurationsbereich.
        &:last-child {
            vertical-align: top;
            white-space: normal;
            margin: 0px 20px;
            width: 90%;
        }
    }
}

@include meta.load-css('admin/section');

@include meta.load-css('admin/guide');
@include meta.load-css('admin/other');
@include meta.load-css('admin/rules');
@include meta.load-css('admin/devices');
@include meta.load-css('admin/sources');
@include meta.load-css('admin/directories');
@include meta.load-css('admin/smtp');
