@use "sass:meta";
﻿.vcrnet-devices {
    > table {
        min-width: 1050px;
    }

    > .vcrnet-inline-help table {
        margin-left: 10px;

        > tbody > tr > td:first-child {
            padding-right: 5px;
        }
    }
}

@include meta.load-css("devices/entry");
@include meta.load-css("devices/guide");
@include meta.load-css("devices/control");
