@use 'sass:meta';

.vcrnet-favorites {
    > table {
        margin-top: 10px;
        margin-left: 1rem;

        tr > td:first-child {
            text-align: center;
        }
    }
}

@include meta.load-css('favorites/entry');
