@import 'lib.react/styles';

@import 'vcrnet';
@import 'common/styles';
@import 'pages/styles';

@import 'mixins';

:root {
    font-size: 20px;
}

html,
body {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius: 10px;
    min-height: 10%;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
