@use 'sass:color';

@use 'lib.react/constants' as lib-constants;
@use 'constants' as constants;

// Grundeinstellungen fixieren.
:root {
    font-size: 18px;
    font-family: constants.$appFont;
    background: constants.$mainBackground;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

// Der Container für die React.Js Oberfläche.
vcrnet-spa {
    display: block;
    padding: 10px;
}

// Normale Verweise innerhalb der Anwendung und in interne Bereiche.
a {
    color: #0000a0;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

// Zur Gruppierung verwenden wir an vielen Stellen FIELDSET - hier genormt in der Umrahmung und der LEGEND.
fieldset {
    border-width: 2px;

    > legend {
        font-size: 0.75rem;
        font-weight: bold;
        font-family: constants.$appFont;
    }
}

// Zeigt eine deutliche Warnung an.
.vcrnet-warningtext {
    font-weight: bold;
    color: lib-constants.$textErrorColor;
}

// Eine horizontale Liste von Verweisen, Befehlen, Filtern etc.
.vcrnet-bar {
    background: color.adjust(constants.$mainBackground, $lightness: -10%);
    white-space: nowrap;
    overflow-x: hidden;
    border-radius: 4px;
    font-size: smaller;
    padding: 6px 10px;
}

// Grundsäzlich sollen erst einmal alle Tabellen sich gleich anfühlen.
.vcrnet-table {
    background: color.adjust(constants.$mainBackground, $lightness: -5%);
    border-collapse: collapse;

    > thead {
        background-color: color.adjust(constants.$mainBackground, $lightness: -15%);
        font-weight: bold;
    }
    // Wenn nicht anders gewünscht vermeiden wir einen Zeilenumbruch in den Zellen und für einige bekannten Spalten gibt es feste Größen.
    > thead,
    > tbody {
        > tr > td {
            border: 2px solid constants.$mainBackground;
            font-family: 'Courier New';
            white-space: nowrap;
            padding: 2px 4px;

            &.vcrnet-column-mode {
                width: 16px;
            }

            &.vcrnet-column-start {
                width: 11.5rem;
            }

            &.vcrnet-column-end {
                width: 2.5rem;
            }
        }
    }
}

// Erzeugt aus einer Tabelle eine formartige Darstellung.
table.vcrnet-tableIsForm > tbody {
    > tr:not(:last-child) > td {
        padding-bottom: 4px;
    }

    td:first-child {
        padding-right: 4px;
    }
}

// Alle Schaltflächen (auch wenn wir hier keine BUTTONs einsetzen) verwenden immer den primären Zeichensatz.
.jmslib-command {
    font-family: constants.$appFont;
}

// In der Hilfe werden Schnappschüsse der Anwendung leicht hervorgehoben.
.vcrnet-screenshot {
    display: block;

    > .jmslib-pict {
        margin: 10px;
        padding: 10px;
        border-radius: 4px;
        display: inline-block;
        border: 1px dashed color.adjust(constants.$mainBackground, $lightness: -30%);
        box-shadow: color.adjust(constants.$mainBackground, $lightness: -40%) 2px 2px;
    }
}
